.radius-15 {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

h6 {
  font-size: 1rem;
}

.bg {
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(2px) saturate(100%) contrast(95%) brightness(100%);
  -webkit-backdrop-filter: blur(2px);
}

.bg-more {
  background: rgba(255, 255, 255, 0.1) !important;
}

.bg-black {
  background: rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.bg-blur {
  background: color-mix(in srgb, var(--user-font-color) 20%, transparent);
  color: color-mix(in srgb, var(--user-font-color) 90%, transparent);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.bg-second-transparent {
  background: color-mix(in srgb, var(--user-font-color) 10%, transparent);
}

.text-blur {
  color: rgba(255, 255, 255, 0.4) !important;
}

// grid placeholder override

.vue-grid-item.vue-grid-placeholder {
  // background: rgba(255, 255, 255, 0.4) !important;
  background: none !important;
  // border-radius: 15px !important;
}

:root {
  --user-font-color: white; 
}

.user-font {
  color: var(--user-font-color);
}

.text-user-font {
  color: var(--user-font-color);
}



