
.radius-15 {
    border-radius: 15px;
}

h6 {
    font-size: 1rem;
}

.bg-transparent {
    background: #ffffff33 !important;
}

.bg {
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
