.radius-15 {
  border-radius: 15px;
}

h6 {
  font-size: 1rem;
}

.bg {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(4px) saturate(120%) contrast(90%) brightness(105%);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.bg-more {
  background: rgba(255, 255, 255, 0.1) !important;
}

.bg-black {
  background: rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.bg-blur {
  background: color-mix(in srgb, var(--user-font-color) 20%, transparent);
  color: color-mix(in srgb, var(--user-font-color) 90%, transparent);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.bg-second-transparent {
  background: color-mix(in srgb, var(--user-font-color) 3%, transparent);
}

// grid placeholder override

.vue-grid-item.vue-grid-placeholder {
  background: none !important;
}

:root {
  --user-font-color: white; 
}

.user-font {
  color: var(--user-font-color);
}

.text-user-font {
  color: var(--user-font-color);
}

@font-face {
  font-family: 'CalSans';
  src: url(./fonts/CalSans-Regular.woff2);
}

@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope-ExtraBold.woff2);
  font-weight: bold;
}

.calsans-font {
  font-family: 'CalSans', 'Manrope', sans-serif;
}

